<% include layout/header %>

<main role="main">
  <div class="container">
   <table border="1" >
   <tr>
   <td>
   No
   </td>
   <td>
   Username
   </td>
   <td>
   Password
   </td>
   
   </tr>
   
      <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>                 
                
                    
                    
                    
                       <tr>
   <td>
   <%=data[i]['id'] %>
   </td>
   <td>
   <%=data[i]['username'] %>
   </td>
   <td>
   <%=data[i]['password'] %>
   
   </td>
   
   </tr>
                    
                    
                
            <% }
            
             }else{ %>
                 
                   <tr>             
                   <td colspan="3">
                   No user
                   </td>
                   </tr>
                   
                   
                   
                   
                                   
            <% } %>
   </table>
   </div>
   
  </main>

<% include layout/footer %>