<% include layout/header %>

<main role="main">

  <div class="container">
  
  <hi>This is login form</hi>
   <form method="post"  action="/dologin">
   
   <input type="text" name="username" /><br>
   <input type="password" name="password" /> <br>
 
   <input type="submit" name="submit" />
   </form>
   </div>
   
  </main>
 </div>
<% include layout/footer %>