<% include layout/header %>

<main role="main">

  <div class="container">
   <form method="post" enctype="multipart/form-data" action="/upload" >
   
   <table cellpadding="11">
                <tr>
                    <td class="label">Username</td><td>: <input type="text" name="username" required></td>
                 </tr>
                
                <tr>
                    <td class="label">Password</td><td>: <input type="text" name="password" required></td>
                 </tr>
                  <tr>
                    <td class="label">Image: <img src="." /> </td><td>:  <input type="file" name="thumbnail"  /></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="reset" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
  
   </form>
   </div>
   
  </main>
 </div>
<% include layout/footer %>