<% include layout/header %>

<main role="main">

  <div class="container">
   <form method="post"  action="/createuser"  >
   <input type="text" name="username" /><br>
   <input type="password" name="password" /> <br>
   <input type="file" name="thumbnail"><br>
   <input type="submit" name="submit" />
   </form>
   </div>
   
  </main>

<% include layout/footer %>