<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

  <div id="wrapper">
  

  <div>
    <ul>
    
    <% if(session.store){ %>
    <li><a href="/"><%= title %></a></li>
     <li><a href="/newuser">NewUser</a></li>
     <li><a href="/alluser">AllUser</a></li>
      <li><a href="/logout">logout</a></li>
      <% }else{ %>
      <li><a href="/login">Login</a></li> 
      <%}%>
  </ul>
 </div>
 
   <% if(messages.info){ %>
  <div class="messages info">
   
      <span class="messages info"><%= messages.info %>
  </div>
  <%}%>
  
  <% if(messages.error){ %>
  <div class="messages error">
   
      <span class="messages error"><%= messages.error %>
  </div>
  <%}%>
  <br>
