<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
  <div class="container">
  
  <% if(messages.info){ %>
  <div class="messages info">
   
      <span class="messages info"><%= messages.info %>
  </div>
  <%}%>
  <% if(messages.error){ %>
  <div class="messages error">
   
      <span class="messages error"><%= messages.error %>
  </div>
  <%}%>
    <ul>
    
    <% if(session.store){ %>
    <li><a href="/"><%= title %></a></li>
     <li><a href="/newuser">NewUser</a></li>
     <li><a href="/alluser">AllUser</a></li>
      <li><a href="/logout">logout</a></li>
      <% }else{ %>
      <li><a href="/login">Login</a></li> 
      <%}%>
  </ul>
  </div>
  <br>
</header>